.container {
  max-width: 300px;
  margin: 0 auto;
  border: 1px solid #252525;
  border-radius: 5px;
  display: flex;
}

.item {
  margin: 10px;
  background: tomato;
  text-align: center;
  font-size: 1.5em;
  border-radius: 5px;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-item-1 {
  flex: 1;
}

.flex-direction {
  flex-direction: column;
}

.justify-content {
  justify-content: flex-start;
}
